services:
  cassandra1:
    image: cassandra:4.1
    container_name: cassandra1
    hostname: cassandra1
    ports:
      - "9042:9042"
    environment:
      - CASSANDRA_CLUSTER_NAME=DistDBsCluster
      - CASSANDRA_SEEDS=cassandra1
      - CASSANDRA_DC=dc1
      - CASSANDRA_RACK=rack1
    volumes:
      - cassandra1_data:/var/lib/cassandra

  cassandra2:
    image: cassandra:4.1
    container_name: cassandra2
    hostname: cassandra2
    environment:
      - CASSANDRA_CLUSTER_NAME=DistDBsCluster
      - CASSANDRA_SEEDS=cassandra1
      - CASSANDRA_DC=dc1
      - CASSANDRA_RACK=rack1
    depends_on:
      - cassandra1
    volumes:
      - cassandra2_data:/var/lib/cassandra

  cassandra3:
    image: cassandra:4.1
    container_name: cassandra3
    hostname: cassandra3
    environment:
      - CASSANDRA_CLUSTER_NAME=DistDBsCluster
      - CASSANDRA_SEEDS=cassandra1
      - CASSANDRA_DC=dc1
      - CASSANDRA_RACK=rack1
    depends_on:
      - cassandra1
    volumes:
      - cassandra3_data:/var/lib/cassandra

volumes:
  cassandra1_data:
  cassandra2_data:
  cassandra3_data:
